footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

footer ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  position: relative;
  list-style: none;
}

footer ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width:480px) {
  * {
    float: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  footer {
    padding: 20px;
  }
}　　　　　　　